################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mvcwcms-4.1.1/.vs
/mvcwcms-4.1.1/mvcwcms.com/bin
/mvcwcms-4.1.1/mvcwcms.com/obj
