<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Removes the debug connection string -->
  <connectionStrings>
    <add name="MainConnectionString" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=" " />
  </connectionStrings>

  <!-- Removes debug attribute from compilation node -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>