<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=301880 -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Data Source=MANHNV83\SQLEXPRESS; Initial Catalog=MvcwCms; User Id=admin; Password=123456; Persist Security Info=False; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings configSource="appsettings.config" />
  <system.web>
    <customErrors mode="On" />
    <compilation debug="true" targetFramework="4.5.1" />
    <!-- enableVersionHeader - Prevents information leakage by removing X-AspNet-Version from HTTP responses -->
    <!-- The following paramenters should not be changed as this limit is used to prevent denial of service (DOS) attacks that are caused, for example, by users posting large files to the server -->
    <!-- executionTimeout - 1Hour (3600 Seconds) Specifies the maximum number of seconds that a request is allowed to execute before being automatically shut down by ASP.NET -->
    <!-- maxRequestLength - Handles requests up to 1 GBytes (1048576 KBytes) -->
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <!--<httpRuntime targetFramework="4.5.1" enableVersionHeader="false" executionTimeout="3600" maxRequestLength="1048576" />-->
    <sessionState timeout="60"></sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MVCwCMS" />
        <add namespace="MVCwCMS.Resources" />
        <add namespace="MVCwCMS.Models" />
        <add namespace="MVCwCMS.Helpers" />
        <add namespace="MVCwCMS.ViewModels" />
        <add namespace="MVCwCMS.HtmlHelpers" />
        <add namespace="MVCwCMS.Filters" />
        <add namespace="MVCwCMS.Controllers" />
        <add namespace="MvcPaging" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <!-- The following paramenter should not be changed as this limit is used to prevent denial of service (DOS) attacks that are caused, for example, by users posting large files to the server -->
    <!-- This will handle requests up to 1GBytes (1073741824 Bytes) -->
    <!--
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    -->
    <handlers>
      <add name="SitemapXmlHandler" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--
      The following workaround is to fix an issue with Elmah where the Request Validation errors didn't get logged.
      Source: https://code.google.com/p/elmah/issues/detail?id=217
      -->
      <add name="ErrorLog" type="MVCwCMS.Helpers.ElmahErrorLogModuleFix, MVCwCMS" preCondition="managedHandler" />
      <add name="ErrorMail" type="MVCwCMS.Helpers.ElmahErrorMailModuleFix, MVCwCMS" preCondition="managedHandler" />
      <!--
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      -->
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Configure the Elmah error behaviour -->
  <elmah>
    <!-- Set to yes to allow remote access to the Elmah error log area: ~/elmah -->
    <security allowRemoteAccess="no" />
    <!--
      Enable Elmah error email reports:
        - Replace the correct values in the errorMail node
    -->
    <!--<errorMail from="ErrorReport@MyWebsite.com" to="YourEmail@MyWebsite.com" subject="Error report" async="true" useSsl="false" />-->
  </elmah>
  <!-- Configure the SMTP server -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <!--
          For development:
            - Set deliveryMethod to SpecifiedPickupDirectory
            - Create a folder "c:\smtp\" on your local hard drive
        -->
        <specifiedPickupDirectory pickupDirectoryLocation="c:\smtp\" />
        <!--
          For production:
            - Set deliveryMethod to Network
            - Replace the correct values in the network node
        -->
        <network host="YourSmtpServerName" port="25" enableSsl="false" userName="YourSmtpServerUsername" password="YourSmtpServerPassword" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>