@{
    Response.TrySkipIisCustomErrors = true;
    Response.StatusCode = 500;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />
        <title>Unexpected error</title>
        <style type="text/css">
            body { background:#000; text-align:center; margin-top:40px; color:#fff; }
            a, a:hover, a:visited { color:#fff; }
        </style>
    </head>
    <body>
        <h1>We are sorry!</h1>
        <p>The requested page is currently unavailable. Our team is working quickly to resolve the issue.</p>
        <p><a href="~/">Go back to the Home Page</a></p>
    </body>
</html>